{% comment %}
  Custom Product Grid Section
{% endcomment %}
<div class="container">
  <p class="Tisso-txt">{{ section.settings.title }}</p>

  <div class="grid">
    {% for product in collections[section.settings.collection].products limit: 6 %}
      <div class="section">
        <div class="customizer" onclick="openPopup({{ forloop.index0 }})">
          <img src="{{ 'plus.png' | asset_url }}" alt="Plus Icon">
        </div>
        <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
      </div>
    {% endfor %}
  </div>
</div>
